<main>
  <div class="container" id="userView">
    
    <div class="row">
      <div class="col-md-9">
       
        <div class="col-md-6">
        <h3>Your pictures <%= pictures.length %>/3 </h3>
        <% for (var i in pictures){ 
            var link = "https://protected-hollows-6072.herokuapp.com/"+pictures[i].path;
        %>
            <div class="row myPicture">
              <div class="col-md-6">
              <img src=<%= link %> width="200" height="160"></img>
                </div>
              <div class="col-md-6 myCenter">
                <b>Name:</b> <%= pictures[i].name %> </br>
                <b>In gallery:</b> <%= pictures[i].inGallery%> </br>
                <b>Likes:</b> <%= pictures[i].likes %></br>
               
              </div>
            
              
            </div>
               
        <% } %>
        </div>   
        <div class="col-md-6 myRight">
            <h3>Actions</h3>
            <form method="post" action="/picture/mydelete">
              File name:  <input type="text" name="fileName"></input> <br>
              Are you sure?:  <input type="checkbox" name="isSure"></input> <br>
              <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
              <button type="submit" class="btn btn-danger myDelete">Delete</button> <br>

            </form>

            <form method="post" action="/picture/galleryToogle">
              File name:  <input type="text" name="fileName"></input> <br>
              <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
              <button type="submit" class="btn btn-primary">Gallery toogle</button><br>
            </form>

        
        </div> 
      </div>
      
      <aside class="col-md-3">
         <h3>Invites</h3>
         <% for (var i in invites){ 
            var link = "/canvas/decline/"+invites[i].id;
          %>
            From: <%= invites[i].from_user.nickname %> <br>
            <div id="canvasInvites">
              
            <a href=<%= invites[i].path %> class="btn btn-success">Accept</a>
            <a href=<%= link %> class="btn btn-warning">Decline</a>
            </div>
            <% } %>
        
          

      </aside>
    </div>


  </div>    
</main>

